<h1 mat-dialog-title>Đăng nhập thành công</h1>
<div mat-dialog-content>Bạn có thể sử dụng các dịch vụ của chúng tôi ngay bây giờ</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Đóng</button>
</div>


<!--<h2 mat-dialog-title>Alo</h2>-->
<!--<mat-dialog-content>alo123</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close="true">Log out</button>-->
<!--  <button mat-button mat-dialog-close="false">Log out</button>-->
<!--</mat-dialog-actions>-->
