


<div class="modal-body">
  <div class="container-fluid">
    <div class="row" >
      <div class="col-6">
        <h2 style="color: #0a70b9">List book</h2>
      </div>
      <div class="col-6">
        <h2 style="color: purple" id="alo"></h2>
      </div>

      <table style="color: purple" border="1px" width="100%">
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>Detail</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let pe of book index as i">
          <td>{{i + 1}}</td>
          <td>{{pe.title}}</td>
          <td>{{pe.author}}</td>
          <td>{{pe.description}}</td>
          <td><a [routerLink]="['/detail', pe.id]">Detail</a></td>
          <td>

            <button class="btn-warning btn"><a style="text-decoration: none" [routerLink]="['/edit', pe.id]">Edit</a>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
              <a (click)="deleteBook(pe.id)">Delete</a>
            </button>

          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
<button class="btn-block btn" id="alo2" (click)="countAllBook()">Total book</button>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Đã xóa thành công!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
